/* Home Page */
header {
    background-color: #ffeadd; 
    padding: 10px 0; 
    text-align: right; 
}

nav ul {
    list-style-type: none; 
    padding: 0 1px ; 
    text-align: right;
}

nav ul li {
    display: inline; 
    margin: 0 30px; 
}

nav ul li a {
    color: rgb(0, 0, 0); 
    text-decoration: none; 
    font-weight: bold; 
    font-family: 'Playfair Display', serif;

}

nav ul li a:hover {
    text-decoration: underline; 
}
nav ul li a:focus {
    outline: 2px solid #3498db

}

.italic {
    font-style: italic; 
}

body {
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
    background-color: #ffeadd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-size: 60px;         
    margin: 0;
    font-family: 'Playfair Display', serif;
   
}

.welcome-titel {
    align-items: left;     
    padding-left: 140px;
    margin-top: 170px;
    margin-right: 850px;
    margin-left: 10px;
}


.welcome-me {
    width: 20%; 
   margin-top: -180px;
   margin-left: 800px;
    position: relative; 

}

.welcome-footer {
   margin-top: 240px;
    text-align: center;
    padding: 10px;
    width: 100%; 
}

/* About Page */
.about-me {
    padding: 20px; 
    background-color: #fff; 
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    margin: 20px auto; 
    max-width: 800px; 
}

.about-me h2, .about-me h3 {
    color: #d7b2b2; 

}

.about-me p {
    line-height: 1.6;
    margin-bottom: 15px; 

}
.about-footer {
    margin-top: 240px;
    text-align: center;
    padding: 10px;
    width: 100%; 
}

/* Contact Page */
.contact-footer {
    margin-top: 240px;
    text-align: center;
    padding: 10px;
    width: 100%; 
}